@import 'loading_animation';

.upload-form {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding: 10px;
}

button.closeButton {
  position:absolute;
  right: 16px;
  background: $off-white;
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473032745/x-dark_u3kvvn.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 30px;
  border: none;
}

button.closeButton span {
  display: none;
}

button.closeButton:hover {
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473032745/x-light_kygwlr.png);
  cursor: pointer;
}

.pre-uploading {
  width: 150px;
  height: 150px;
  text-align: center;
}

.drop-container {
  width: 46%;
  display:inline-block;
}

.drop-zone {
  background-color: red;
}

.vertical-line {
  border-left: 1px solid $medium-grey;
  width: 1px;
  height: calc(100% - 20px);
  display:inline-block;
}

.form-contents {
  width: 46%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-contents .title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.upload-form input[type="text"], .upload-form textarea {
  padding: 10px;
  border:solid 1px #8c8c8c;
  width: calc(100% - 22px);
  height:10px;
  font-size: 16px;
  background: #fff;
  color:black;
}

.upload-form textarea {
  height: 120px;
}

.upload-form input[type="submit"] {
  width: 130px;
  background: $dark-grey;
  margin: 0;
}


.upload-form input[type="submit"]:hover {
  background: $light-grey;
}

.camera {
  margin-top: 20px;
}

.uploaded-image {
  max-width: calc(100% - 10px);
  max-height: calc(100% - 30px);
  border: 5px solid white;
  box-shadow: 0px 0px 5px #888888;
}

.uploaded-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.left-image-container {
  height: 100%;
}
