@import 'loading_animation';

button.closeButton {
  position:absolute;
  right: 16px;
  background: $off-white;
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473032745/x-dark_u3kvvn.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 30px;
  border: none;
}

button.closeButton span {
  display: none;
}

button.closeButton:hover {
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473032745/x-light_kygwlr.png);
  cursor: pointer;
}

.pre-uploading {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-top: 35px;
  margin-left: 30px;
}

.upload-form {
  height: 300px;
}

.drop-container {
  float:left;
  height:280px;
  width: 279px;
  padding:10px;
  display:inline-block;
}

.drop-zone {
  background-color: red;
}

.vertical-line {
  border-left: 1px solid $medium-grey;
  width: 1px;
  height: 280px;
  display:inline-block;
  margin-top: 12px;
}

.form-contents {
  float: right;
  height:280px;
  width: 269px;
  display:inline-block;
  padding:10px;
  padding-left: 20px;
}
.form-contents .title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.upload-form input[type="text"], .upload-form textarea {
  background: #fff;
  border:solid 1px #8c8c8c;
  height:10px;
  width: 92%;
  font-size: 16px;
  padding: 10px;
  color:black;
}

.upload-form textarea {
  height: 120px;
}

.upload-form input[type="submit"] {
  width: 130px;
  background: $dark-grey;
}


.upload-form input[type="submit"]:hover {
  background: $light-grey;
}

.camera {
  margin-top: 20px;
}

.uploaded-image {
  max-width: 270px;
  max-height: 280px;
  border: 5px solid white;
  box-shadow: 0px 0px 5px #888888;
}

.uploaded-image-container {
  // width: 270px;
  // height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
