.max-width {
  width:900px;
  margin: 0 auto;
}

.feed {
  width: 66.66%;
  display: inline-block;
}

.feed-photo-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.feed-photo-container img:hover {
  opacity: .98;
}

.feed-item img{
  max-height: 596px;
  max-width: 598px;
}

.feed-item {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
}

.user-info {
  padding: 10px;
}

.user-info:hover {
  background:$light-grey;
  cursor:pointer;
}

.user-badge-small {
  border-radius: 100px;
  margin-right:5px;
  width: 25px;
  float:left;
}

.feed .user-name {
  float: left;
  margin-top: 5px;
  font-size: 14px;
}

.feed-item-meta {
  border-top: 1px solid $light-grey;
}

.title-description {
  padding: 10px;
  border-top: 1px solid $light-grey;
}

.feed-item-title {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.feed-item-description {
    font-size: 12px;
}

.user-box-user:hover {
  background: $light-grey;
  cursor:pointer;
}

button.close_1pts9jo {
}

img {
  cursor: pointer;
}
