
.login_form_box, .signup_form_box {
  padding: 35px;
  background:black;
  opacity:.7;
  color: white;
  width: 350px;
  margin: 0 auto;
}

.login_form_box a, .signup_form_box a {
  text-align: right;
}

.login_form_container, .signup_form_container {
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1472749488/SnakeRiver_jnbisl.jpg);
  background-size: cover;
  height:100%;
  background-position: 50% 50%;
}

.login_form_container a, .signup_form_container a {
  text-decoration: none;
  color:inherit;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}

input[type="text"], input[type="password"], textarea {
  border: none;
  background-color: rgba(0, 0, 0, .2);
  color: white;
  border-bottom: solid 1px white;
  height:40px;
  width: 98%;
  font-size: larger;
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

input[type="submit"], button.guest {
  width: 152px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-size: larger;
  margin: 20px 0px 30px 0px;
  cursor: pointer;
  cursor: hand;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

input[type="submit"] {
  margin-right: 30px;
}

.login_form_container input,
.signup_form_container input {
  margin-top:20px;
}

.login_form_container .username,
.signup_form_container input[type="text"]:first-child {
  margin-top:0px;
}

.login_form_container input[type="submit"]:hover,
.signup_form_container input[type="submit"]:hover,
button.guest:hover {
  box-shadow: 0px 0px 0px 1px;
}

textarea:focus, input:focus{
    outline: none;
}

.login-header {
  margin-bottom: 60px;
}

.tagline {
  color: white;
  font-family: 'Yellowtail', cursive;
  font-size: 46px;
  text-shadow: 0px 0px 10px #000000;
  text-align: center;
  margin-bottom: 40px;
}

.error {
  width: 100%;
  text-align: center;
  color: #ff7a7a;
}
