
.navbar {
  background: #fff;
  border-bottom: 1px solid $light-grey;
  height: 55px;
  margin-bottom: 20px;
}

img.logo {
    height: 50px;
    float: left;
    margin-top: 3px;
}

img.logo:hover {
  cursor:pointer;
}

img.user-badge {
    width: 35px;
    border-radius: 100px;
    margin-right:10px;
    margin-top:5px;
}

button.upload {
  margin: 0 20px 0 30px;
  background: $white;
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473027425/upload-dark_plrcg4.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 36px;
  width: 50px;
  border: none;
}

button span {
  display: none;
}

button.upload:hover {
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473027788/upload-light_mdybtl.png);
  cursor: pointer;
}

button {outline:0;}

button.logout {
  margin-top: 6px;
height: 30px;
  background: $white;
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473345871/logout-dark_puglfo.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 60px;
  border: none;
}

button.logout:hover {
  background-image: url(http://res.cloudinary.com/dhorsi7vf/image/upload/v1473345180/logout-light_mbyg9b.png);
  cursor: pointer;
}

.user-name {
  margin-top:5px;
}

.user-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-display:hover {
  cursor: pointer;
  opacity: .5;
}

.left-nav-container {
    float: right;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 30px;;
}

.user-name {
    display: inline-block;;
    font-size: 16px;
    font-weight: 200;
    color: #535353;
}

.drop-zone {
  width: 50px;
  height: 50px;
  color:red;
}
