.follow-box {
  background: white;
  border: 1px solid $light-grey;
  padding: 10px;
}

.follow-box-title {
  font-weight: 200;
  color: #c1c1c1;
  margin-bottom: 10px;
  font-size: 18px;
}

img.follow-item-badge {
  margin-right: 10px;
  border-radius: 20px;
  width: 30px;
  float: left;
}

.follow-item-username {
  float: left;
}

li.follow-item-image {
  width: 40px;
}

li.follow-item-image img {
  width: 100%;
  height: 100%;
}

ul.follow-item-images {
  display: flex;
  justify-content: space-around;
}

.follow-item-meta {
  display: inline-block;
}

.follow-info-container {
  display: inline-block;
}

.follow-info-container:hover {
  opacity: .5;
  cursor: pointer;
}

.ButtonContainer {
  float: right;
}

.follow-item-upper .button {
  border: 1px solid $medium-grey;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 12px;
  color: $medium-grey;
}

.button.unfollow:hover {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.button.follow:hover {
  border: 1px solid #57ec57;
  color: #57ec57;
  cursor: pointer;
}


span.username {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: -15px;
}

span.photo-count {
  font-size: 12px;
  color: $light-grey;
}

.follow-item-lower {
  height: 40px;
  margin-bottom: 25px;
}

.follow-item-lower img:hover {
  opacity: .8;
}

.follow-item-upper {
  margin-bottom: 10px;
}
