img.follow-item-badge {}

img.follow-item-badge {
  border-radius: 20px;
  width: 30px;
  float: left;
}

.follow-item-username {
  float: left;
}

li.follow-item-image {
  width: 40px;
}

li.follow-item-image img {
  width: 100%;
  height: 100%;
}

ul.follow-item-images {
  display: flex;
  justify-content: space-around;
}
